[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	owner = group user/Daniel Sikorski (dadi11)
[access "refs/for/refs/*"]
	read = group Administrators
	read = group user/Daniel Sikorski (dadi11)
	push = group Administrators
	push = group user/Daniel Sikorski (dadi11)
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group user/Daniel Sikorski (dadi11)
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group user/Daniel Sikorski (dadi11)
	rebase = group Administrators
	rebase = group user/Daniel Sikorski (dadi11)
	removeReviewer = group Administrators
	removeReviewer = group user/Daniel Sikorski (dadi11)
	submit = group Administrators
	submit = group user/Daniel Sikorski (dadi11)
[access "refs/heads/*"]
	read = group Administrators
	read = group user/Daniel Sikorski (dadi11)
	create = group Administrators
	create = group user/Daniel Sikorski (dadi11)
	push = group Administrators
	push = +force group user/Daniel Sikorski (dadi11)
	pushMerge = group Administrators
	pushMerge = group user/Daniel Sikorski (dadi11)
[access "refs/tags/*"]
	push = +force group Administrators
	push = +force group user/Daniel Sikorski (dadi11)
	pushTag = group Administrators
	pushTag = group user/Daniel Sikorski (dadi11)
	pushSignedTag = group Administrators
	pushSignedTag = group user/Daniel Sikorski (dadi11)
